.price {
    padding-top: 60px;
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 365px);
        grid-template-rows: repeat(3, 45px);
        grid-auto-rows: minmax(45px, auto);
        justify-content: space-between;
        align-content: space-between;
        row-gap: 15px;
    }
    &__item {
        margin-bottom: 20px;
        &-text_wrapper {
            display: flex;
            justify-content: space-between;
        }
        &-name {
            position: relative;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            &:before {
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
                left: -25px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &-prices {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
        }
        &-descr {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
}
